<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rehe.admin.modules.system.mapper.DictMapper">
  <resultMap id="BaseResultMap" type="com.rehe.admin.modules.system.entity.Dict">
    <!--@mbg.generated-->
    <!--@Table system_dict-->
    <id column="id" property="id" />
    <result column="code" property="code" />
    <result column="name" property="name" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, code, "name", create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from system_dict
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from system_dict
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.rehe.admin.modules.system.entity.Dict">
    <!--@mbg.generated-->
    insert into system_dict (id, code, "name", create_time, update_time)
    values (#{id}, #{code}, #{name}, #{createTime}, #{updateTime})
  </insert>
  <insert id="insertSelective" parameterType="com.rehe.admin.modules.system.entity.Dict">
    <!--@mbg.generated-->
    insert into system_dict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null and code != ''">
        code,
      </if>
      <if test="name != null and name != ''">
        "name",
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="code != null and code != ''">
        #{code},
      </if>
      <if test="name != null and name != ''">
        #{name},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rehe.admin.modules.system.entity.Dict">
    <!--@mbg.generated-->
    update system_dict
    <set>
      <if test="code != null and code != ''">
        code = #{code},
      </if>
      <if test="name != null and name != ''">
        "name" = #{name},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rehe.admin.modules.system.entity.Dict">
    <!--@mbg.generated-->
    update system_dict
    set code = #{code},
      "name" = #{name},
      create_time = #{createTime},
      update_time = #{updateTime}
    where id = #{id}
  </update>


  <select id="selectAll"  resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from system_dict
  </select>

  <select id="selectByCode"  resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from system_dict
    where code = #{code}
  </select>
</mapper>