<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rehe.admin.modules.system.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.rehe.admin.modules.system.entity.Role">
    <!--@mbg.generated-->
    <!--@Table system_role-->
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="level" property="level" />
    <result column="description" property="description" />
    <result column="scope" property="scope" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, "name", "level", description, "scope", create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from system_role
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from system_role
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.rehe.admin.modules.system.entity.Role">
    <!--@mbg.generated-->
    insert into system_role (id, "name", "level", description, "scope", create_time, update_time
      )
    values (#{id}, #{name}, #{level}, #{description}, #{scope}, #{createTime}, #{updateTime}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rehe.admin.modules.system.entity.Role" keyProperty="id" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into system_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null and name != ''">
        "name",
      </if>
      <if test="level != null">
        "level",
      </if>
      <if test="description != null and description != ''">
        description,
      </if>
      <if test="scope != null">
        "scope",
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="name != null and name != ''">
        #{name},
      </if>
      <if test="level != null">
        #{level},
      </if>
      <if test="description != null and description != ''">
        #{description},
      </if>
      <if test="scope != null">
        #{scope},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rehe.admin.modules.system.entity.Role">
    <!--@mbg.generated-->
    update system_role
    <set>
      <if test="name != null and name != ''">
        "name" = #{name},
      </if>
      <if test="level != null">
        "level" = #{level},
      </if>
      <if test="description != null and description != ''">
        description = #{description},
      </if>
      <if test="scope != null">
        "scope" = #{scope},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rehe.admin.modules.system.entity.Role">
    <!--@mbg.generated-->
    update system_role
    set "name" = #{name},
      "level" = #{level},
      description = #{description},
      "scope" = #{scope},
      create_time = #{createTime},
      update_time = #{updateTime}
    where id = #{id}
  </update>

  <select id="selectList"  resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from system_role
    <where>
      <if test="keyword != null and keyword != ''">
        and concat(id,name,description) ilike '%' || #{keyword} || '%'
      </if>
    </where>
  </select>


  <select id="selectAll"  resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from system_role
  </select>


  <select id="selectByName" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from system_role where name = #{name}
  </select>

  <insert id="insertRoleMenu">
    INSERT INTO system_role_menu (role_id, menu_id)
    VALUES
    <foreach collection="menuIds" item="menuId" separator=",">
      (#{roleId}, #{menuId})
    </foreach>
  </insert>

  <delete id="deleteRoleMenuByRoleId">
    delete from system_role_menu where role_id = #{roleId}
  </delete>

  <select id="selectRoleMenuIdsByRoleId" resultType="java.lang.Long">
    select menu_id from system_role_menu where role_id = #{roleId}
  </select>

  <select id="selectRoleUserCount" resultType="java.lang.Integer">
    select count(1) from system_user_role where role_id = #{roleId}
  </select>

  <insert id="insertRoleDept">
    INSERT INTO system_role_dept (role_id, dept_id)
    VALUES
    <foreach collection="deptIds" item="deptId" separator=",">
      (#{roleId}, #{deptId})
    </foreach>
  </insert>

  <delete id="deleteRoleDeptByRoleId">
    delete from system_role_dept where role_id = #{roleId}
  </delete>

  <select id="selectRoleDeptIdsByRoleId" resultType="java.lang.Long">
    select dept_id from system_role_dept where role_id = #{roleId}
  </select>
</mapper>